<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.PoetriesDAO">
    <resultMap id="poetriesRM" type="Poetries">
            <id property="id" column="psid"/>
            <result property="content" column="cont"/>
            <result property="title" column="tit"/>
            <association property="poet" javaType="Poet">
                <id property="id" column="pid"/>
                <result property="name" column="na"/>
            </association>
    </resultMap>



    <select id="findAll" resultMap="poetriesRM">
        SELECT
            p1.id psid,p1.content cont,p1.title tit,
            p2.id pid,p2.name na
        FROM
            poetries p1
        LEFT JOIN poets p2 ON p1.poet_id = p2.id
    </select>
</mapper>
